<br/>
<br/>
<h3 class='title is-4'>All Products</h3>

<details>
<summary> Shopping Cart</summary>
<% if @cart.empty?%>
  <p>No items in cart</p>
<% else %>
<ul>
  <% @cart.each do |id,quantity| %>
    <li><%= Product.find(id).name %> Quantity: <%= link_to '-', decriment_path(id),method: :post %> <%= quantity %> <%= link_to '+', increment_path(id),method: :post %> | <%= link_to 'remove', remove_from_cart_path(id),method: :delete %> |</li>
  <% end %>
</ul>
<% end %>
<%= button_to 'checkout', checkout_create_path, method: :post, params: {cart: @cart}, remote: true %>
</details>

<%= paginate @products %>
<div class='columns is-multiline'>
<%= render partial: 'product',
           collection: @products,
           locals: {show_link: true}
%>
</div>

